<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>

            <div class="about content">
                <h2>About Me</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tenetur veniam harum
                    dignissimos.
                    Nobis, voluptatem! Similique, inventore mollitia dolorem distinctio, nobis, odio adipisci nisi
                    officiis
                    porro ea fuga atque. Aut!
                    Corrupti at molestias provident incidunt ipsa facere non perspiciatis tempore ipsum! Quod amet
                    perspiciatis
                    laborum veritatis eum consequuntur nemo quae est quasi corporis, saepe atque distinctio voluptates
                    officiis
                    laudantium dolor.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tenetur veniam harum
                    dignissimos.
                    Nobis, voluptatem! Similique, inventore mollitia dolorem distinctio, nobis, odio adipisci nisi
                    officiis
                    porro ea fuga atque. Aut!
                    Corrupti at molestias provident incidunt ipsa facere non perspiciatis tempore ipsum! Quod amet
                    perspiciatis
                    laborum veritatis eum consequuntur nemo quae est quasi corporis, saepe atque distinctio voluptates
                    officiis
                    laudantium dolor.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tenetur veniam harum
                    dignissimos.
                    Nobis, voluptatem! Similique, inventore mollitia dolorem distinctio, nobis, odio adipisci nisi
                    officiis
                    porro ea fuga atque. Aut!
                    Corrupti at molestias provident incidunt ipsa facere non perspiciatis tempore ipsum! Quod amet
                    perspiciatis
                    laborum veritatis eum consequuntur nemo quae est quasi corporis, saepe atque distinctio voluptates
                    officiis
                    laudantium dolor.</p>
            </div>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>