<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <!-- passing js into ejs -->
    <% const name="Jamiu" %>

        <nav>
            <div class="site-title">
                <p>
                    <%= name %>
                        <!-- equals sign is important when calling on single js values -->
                </p>
                <a href="/">
                    <h1>Shola Quadri</h1>
                </a>
                <p>A NOMADS. Site</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>

        <div class="blogs content">
            <h2>All Blogs</h2>

            <% if (blogs.length> 0){ %>
                <% blogs.forEach(blog=> { %>

                    <h3 class="title">
                        <%= blog.title %>
                    </h3>
                    <p class="snippet">
                        <%= blog.snippet %>
                    </p>
                    <% }) %>

                        <% } else { %>
                            <p>There's nothing to see here Marty...</p>
                            <% } %>
        </div>
</body>

</html>